{% extends "base.html" %}

{% block title %} College Ranking {% endblock %}

{% block content %}
    
    {% if ranks %}

<h1> College Ranking </h1>

<table>
    <tr>
        <th>Rank</th>
        <th>Registration Number</th>
        <th>Name</th>
        <th>Roll Number</th>
        <th>CGPA</th>
    </tr>
    {% for rank in ranks %}
    <tr>
        <td> {{rank.rank}} </td>
        <td> {{ rank.reg_no }} </td>
        <td> {{ rank.name }} </td>
        <td> {{ rank.roll_no }} </td>
        <td> {{ rank.cgpa }} </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br/>
<br/>

<div class="pagination">
    <span class="step-links">
        {% if ranks.has_previous %}
            <input type="button" name="b1" value="prev" onclick="location.href='?page={{ ranks.previous_page_number }}'">
        {% endif %}

        <span class="current">
            Page {{ ranks.number }} of {{ ranks.paginator.num_pages }}.
        </span>

        {% if ranks.has_next %}
            <input type="button" name="b1" value="next" onclick="location.href='?page={{ ranks.next_page_number }}'">
        {% endif %}
    </span>
</div>


<br/>
<br/>



{% endblock %}