{% extends "base.html" %}

{% block title %} Department Ranking {% endblock %}

{% block content %}

<form action='{% url "department_ranking" %}' method='post'>
                {% csrf_token %}
                <select name='department'>
                    <option value="CS">Computer Science and Engineering</option>
                    <option value="EC">Electronics and Communications Engineering</option>
                    <option value="IT">Information Technology</option>
                    <option value="ME">Mechanical Engineering</option>
                    <option value="CE">Civil Engineering</option>
                    <option value="BT">Biotechnology</option>
                    <option value="EE">Electrical Engineering</option>
                    <option value="MM">Metallurgical and Materials Engineering</option>
                    <option value="CH">Chemical Engineering</option>
                </select>
                <input type='submit' value='SUBMIT' />
        </form>

{% if ranks %}
<h1> {{department}} </h1>

<table >
    <tr>
        <th>Rank</th>
        <th>Registration Number</th>
        <th>Name</th>
        <th>Roll Number</th>
        <th>CGPA</th>
    </tr>
    {% for rank in ranks %}
    <tr>
        <td> {{rank.rank}} </td>
        <td> {{ rank.reg_no }} </td>
        <td> {{ rank.name }} </td>
        <td> {{ rank.roll_no }} </td>
        <td> {{ rank.cgpa }} </td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}