{% extends "base.html" %}

{% block title %} Department Ranking {% endblock %}

{% block content %}

{% if ranks %}

<br/>
<br/>
                
<h1> {{department}} </h1>

<table class="table table-bordered table-hover" >
<thead>
    <tr>
        <th>Rank</th>
        <th>Registration Number</th>
        <th>Name</th>
        <th>Roll Number</th>
        <th>CGPA</th>
    </tr>
</thead>
<tbody>
    {% for rank in ranks %}
    <tr>
        <td> {{rank.rank}} </td>
        <td> {{ rank.reg_no }} </td>
        <td> {{ rank.name }} </td>
        <td> {{ rank.roll_no }} </td>
        <td> {{ rank.cgpa }} </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endif %}

{% endblock %}