{% extends "base.html" %}

{% block content %}
<section class=" header section-paddding ">
        <div class="background">
            <div class= "container ">
                <div class= "header-text">
                    
                    <br/>
                    <br/>
                                        <br/>
                    <br/>
                                        <br/>
                    <br/>
                    
                    <h1>
                        Visualization and Analysis of Results
                    </h1>
                    <br/>
                    <br/>
                    <blockquote class="text-warning">
                        <h2>This website maintains a record of the academic performance of the students.
                        The system allows the students to compare their results with other students and their rank in their respective department, batch or subject.
                        Furthermore, the website provides different graphical representation of their results with respect to their departments, batches and subjects.
                        The goal is to provide the students an easy and portable solution to measure their academic performance.</h2>
                    </blockquote>
                    <br/>
<br/>
<br/>
<br/>

                </div>
            </div>
        </div>
</section>

{% endblock %}