{% extends "base.html" %}


{% block content %}
<section class=" header section-paddding ">
        <div class="background">
            <div class= "container ">
                <div class= "header-text">
                    
                    <br/>
                    <br/>
                    
                    <h2>
                        Visualization and Analysis of Results
                    </h2>
                </div>
            </div>
        </div>
</section>

<div>
    
    
</div>
{% endblock %}