{% extends "base.html" %}

{% block title %} Personal Profile {% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container col-md-6 col-md-offset-4">            
<form action='{% url "personal" %}' method='post' class="form-inline">
            {% csrf_token %}
            <div class="form-group has-success">
<!--                        <label for='text'>Enter you registration number  :</label>-->
                        <input class="form-control input-lg" type='text' name='roll' placeholder='registration number' />
            <!-- always use name='roll' and not id='roll' -->
            <!--            <input class="form-control" type='submit' value='SUBMIT' />-->
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
</form>
</div>




<br/>
<br/>
<br/>
<div>

{% if marks %}
        <ul>
            <h1 class="text-capitalize">{{marks.0.reg_no.name| lower}}</h1>
            <h3 class="">Roll : {{marks.0.reg_no.roll_no}}</h3>
            <h3 class="">CGPA : {{marks.0.reg_no.cgpa}}</h3>
            <h3 class="">College Rank: {{college_rank}}</h3>
            <br/><br/>
            
            {% for each_sem in marks %}
                        {% if each_sem.sem.sem < 400 %}
                        <h1 class="bg-primary">Third Semester</h1>
                        <h2 class="bg-success">SGPA: {{each_sem.sgpa}}</h2>
                        {% else %}
                        <h1 class="bg-primary">Fourth Semester</h1>
                        <h2 class="bg-success">SGPA: {{each_sem.sgpa}}</h2>
            {% endif %}
            <table class="table table-condensed table-hover">
                                    <thead>
                                    <tr class="active">
                                                <th> {{each_sem.sem.sub1}} </th>
                                                <th> {{each_sem.sem.sub2}} </th>
                                                <th> {{each_sem.sem.sub3}} </th>
                                                <th> {{each_sem.sem.sub4}} </th>
                                                <th> {{each_sem.sem.sub5}} </th>
                                                <th> {{each_sem.sem.lab1}} </th>
                                                <th> {{each_sem.sem.lab2}} </th>
                                                <th> {{each_sem.sem.lab3}} </th>
                                    </tr>         
                                    </thead>
                                    <tbody>
                                                <tr class="success">
                                                <td>{{each_sem.sub1}}</td>
                                                <td>{{each_sem.sub2}}</td>
                                                <td>{{each_sem.sub3}}</td>
                                                <td>{{each_sem.sub4}}</td>
                                                <td>{{each_sem.sub5}}</td>
                                                <td>{{each_sem.lab1}}</td>
                                                <td>{{each_sem.lab2}}</td>
                                                <td>{{each_sem.lab3}}</td>
                                                </tr>
                                    </tbody>
                        </table>
            <br>
            <br>
            {% endfor %}

        </ul>
{% endif %}

</div>

{% endblock %}